.review {
  margin-bottom: 136px;
}

.review__title {
  margin-bottom: 112px;
}

.splide__item {
  background-color: #cbdfc3;
  border-radius: 20px;
  min-height: 500px;
  padding: 141px 103px 22px 122px;
  width: 790px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

.splide__item-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 77px;
}

.splide__item-title{
  text-align: right;
}



.splide__item-foto {
  position: absolute;
  top: -87px;
  left: -87px;
}

.splide{
  position: relative;
}

.splide__track{
  padding-top: 88px;
  position: relative;
}

.splide__arrows{
  display: flex;
  position: absolute;
  top: 302px;
  z-index: 10;
}

.splide__arrow{
  height: 72px;
  width: 72px;
  background-color: #d14582;
  border-radius: 72px;
  background-repeat: no-repeat;
  background-position: center;
}

.splide__arrow--prev{
  background-image: url('assets/arrowleft.svg');
  margin-right: 1056px;
}

.splide__arrow--next{
  background-image: url('assets/arrowright.svg');
}
